/* id bør være ulike, classer hvor mange vi vil, atrybut selector - skal ikke brukes her,  */
/* regelsett - bakgrunn */
/*  css fuksjon calk - automatisk matamatikk, teks bli responsiv  */  
/* em - ta utgangspunt i pixel verdi, vw - en del av visinitg bredden, nettleser bredden, calkuleres */
/* rem verdier kommer til å endre seg grunnet pix */
/* *stjerne selektor - gjeller alt!!! forsiktig, setter du den på hver element - overskriver mye, andre elementer arver  */
*{
    box-sizing: border-box;
}
html{
    font-size: calc(1em + 1vw);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: bisque;
}
#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header"
                         "search"
                         "main" 
                          "footer";
}
header, main, footer{
    padding: 1rem;
}

header{
    grid-area: header;
    font-size: 1.5rem;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    background-size: cover;
   
}
.logo_burger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
header nav ul li{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

nav div{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-left: 30%;
    padding: 0;
    color: #000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: right;
}
nav a{
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
    display: inline-block;
}
#Logo{
    align-items: left;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-align: left;
    margin: auto;
}

.navbar{
    display: none;
}
.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #2d2a2a;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
    

}
.responsive a{
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}
.black-btn{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #e2e5c3;
    color: #0e0d0d;
    border-radius: 5px;
    font-weight: 400;
}
.search-flex{
    font-size: 1rem;
    font-weight: 400px;
    grid-area: search;
}
/* css til profil.html */
#user-registration{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
}
main form input{
    width: 100%;
    padding: 14px 16px;
    border-radius: 6px;
    border: 0.5px solid #b5b5b5;
}
main form input[type=submit]{
    background-color: green;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 0;
}
/* slutt på css til profl.html */

/* start på css produkt.html */
.sweet-deal{
    display: flex;
    flex-direction: column;
}
.radio-label{
    align-items: baseline;
    padding: 14px 16px;
    display: inline-block;
}
.str{
    display: inline-block;
    padding: 0.5rem;
}
.sweet-deal input[type=submit]{
    background-color: black;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    border: 0;
    padding: 1rem;
    text-align: center;
    margin: inherit;
}
.informasjon{
    text-align: center;
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
#infor{
    text-align: center;
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

/* slutt på css produkt.html */
main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.search-flex h1{
    text-align:center;
    font-size: 1rem;
}

.search-flex h2{
    text-align: left;
    font-size: 1rem;
}
.search-flex form{
    text-align: right;

}

main{
    text-align: center;
    
}
main section h2{
    margin: 2rem 0;
}
article{
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    margin: 1rem auto; 
    /* 0 tar alt luften, auto gjør det midtsentrert, endres til  */
    /* absolute målenheter - pixel, andre % osv. */
    background-color: #efff;
}


main section article img{
    width: 100%;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.6rem;
}
p{
    font-size: 1.4rem;
    margin: 15px;
}
/* bruker  . når vi skriver til calasser ! */
.read-more-btn{
    background-color: #2c2626;
    color: #efff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none ;
    margin: 0.5rem;

}
/* klasser brukes for å gjenbruke design  */
#foots{
    text-align: center;
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* det tar bare den ene p taggen i about section  */
#about-section p{
    text-align: justify;
}

#subscribe{
    background-color: #f1e7e7;
    padding: 1rem;
    text-align: center;

}
#subscribe form label, #subscribe form input{
    display: block;
    margin: 0 auto;
}

footer nav ul {
    /* fjerner punkter i meny */
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

footer nav ul li a{
    padding: 0.5rem;
}
#social-icons{
    padding: 0;
    margin: 1rem 0;
    text-align: center;
}
/* kun for ul elementer, må skrives li for å ta alle  */
#social-icons li{
    display: inline-block;
    background-color: #000;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 1rem;
    border-radius: 50%;

}
/* responsitv desgin */
@media only screen and (min-width: 600px){
    #grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header" "search search search" ". main ." "footer footer footer";
    }
    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }
    #ham, .fa-magnifying-glass{
        display: none;
    }
    .search-flex{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .default-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .default-flex img{
        width: 150%;
    }
    .default-flex section{
        width: 40%;
        align-self: center;
        padding: 1rem;
    }
    
    main{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #Logo{
        float: left;
    }
    header nav div{
        float: right;
        margin: 0;
    }

    header nav ul li{
        display: inline-block;
    }
    header nav{
        overflow: hidden;
    }
    .search-flex{
        display: inline-block;
    }
    main section{
        overflow: hidden;
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
    }

    main article{
        float: left;
        margin: 10px;
    }
}


/* grid - større ting kodelayout på nettsiden, flex- mindre, funker på innhold - bruk grid i main
grid- komplekse store layoyt eks. fb, artikler boxer? - flex
grid- clean utgangspunt - fjerne default css - bex som har rundt bodty eks. vi får mer kontroll på margin/padding - vi fpr rent utgangs punkt 
 planlegg struktur etter wireframes, hvor kompleks er det? - divitis(masse div-er, dvier rundt diver osv. - ikke lenger i bruk 
 felxbox -en dimantional
 grid - rutenett - todimantianalt, to akser, bestemmer mer på kollumner og rader,slipper å sloss med "float" - blir
 overskevert, funker ikke, 
 grid - cantainer, item, line, cell, track (column/row), area
 container - fin foreldre element og så display 
 grid; grid-tamplate-columns - hvor mange columner d\skal vi ha
 grid-template-rows - auto - høyde blir generete ut i fra innholdet - dynamiske forhold!
 grid-item. barne elementer av grid-container eks. grid.colum-start, grid-colum-end - obs float har inegn påvirkning 
 grid item, container - brukes grid-area */