/* id bør være ulike, classer hvor mange vi vil, atrybut selector - skal ikke brukes her,  */
/* regelsett - bakgrunn */
/*  css fuksjon calk - automatisk matamatikk, teks bli responsiv  */  
/* em - ta utgangspunt i pixel verdi, vw - en del av visinitg bredden, nettleser bredden, calkuleres */
/* rem verdier kommer til å endre seg grunnet pix */
/* *stjerne selektor - gjeller alt!!! forsiktig, setter du den på hver element - overskriver mye, andre elementer arver  */
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: bisque;
}
#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "header" "search" "main" "footer";
}
header{
    grid-area: header;
}
.search-flex{
    grid-area: search;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
    font-size: 1.5rem;
    background-color:#fff;
    background-size: cover;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav div{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-left: 30%;
    padding: 0.5rem;
    color: #000;
    align-items: baseline;
    text-decoration: none;
}
header nav a{
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
}
.logo_burger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#Logo{
    display: flex;
    align-items: left;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-align: left;
    margin: auto;
}
.navbar{
    display: none;
}
.responsive{
    display: flex;
    flex-direction: column;
    position:absolute;
    background-color: #f4efb6;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}
.responsive a{
    color: black;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}
.black-btn{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #e2e5c3;
    color: #0e0d0d;
    border-radius: 5px;
    font-weight: 400;
}
.search-flex{
    display: grid;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400px;
    grid-area: "search";
    
}
.search-flex h1{
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}
#Søk{
    justify-content:stretch;
}
.search-flex form{
    display: flex;
    text-align: right;
    justify-content: center;
}


/* css til profil.html */
#user-registration{
    display: flex;
    justify-items: auto;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
}
main form input{
    width: 100%;
    padding: 14px 16px;
    border-radius: 6px;
    border: 0.5px solid #b5b5b5;
}
main form input[type=submit]{
    background-color: green;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 0;
}
/* slutt på css til profl.html */

/* start på css produkt.html */
.sweet-deal-produkt{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sweet-deal-produkt img{
    width: 100%;
}
.info-om-sko{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: bisque;
}
.radio-label{
    align-items: baseline;
    padding: 14px 16px;
    display: inline-block;
}
.str{
    display: inline-block;
    padding: 0.5rem;
}
.sweet-deal-produkt input[type=submit]{
    background-color: black;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    border: 0;
    padding: 1rem;
    text-align: center;
    margin: inherit;
}
.informasjon{
    text-align: center;
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
#infor{
    text-align: center;
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* slutt på css produkt.html */
main{
    grid-template-areas: "main";
    justify-content: space-between;
    display: grid;
}
.default-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.default-flex article {
    flex-basis: 33%;
    min-width: 300px;
}
.default-flex article img {
    width: 100%;
}
footer{
    grid-template-areas: "footer";
    display: grid;
    grid-column: 1/-1;
    column-span: all;
}

article{
    width: 100%;
    margin: 1rem auto; 
    background-color: #efff;
}

main section article img{
    width: 100%;
    text-align: center;
}
.right-ips{
    display: none;
}
.read-more-btn{ 
    background-color: #2c2626;
    color: #efff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none ;
    margin: 0.5rem;

}

#foots{
    text-align: center;
    padding: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#social-icons{
    padding: 0;
    margin: 1rem 0;
    text-align: center;
}
#social-icons li{
    display: inline-block;
    background-color: rgb(160, 132, 97);
    color: black;
    width: 60px;
    height: 60px;
    padding: 1rem;
    border-radius: 50%;
}
/* responsitv desgin */
@media only screen and (min-width: 600px){
    #grid-container{
        display: grid;
        max-width: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header" "search search search" " main main main" "footer footer footer";
    }
    header{
        grid-template-areas: header;
        display: flex;
        grid-column: 1/-1;
        column-span: all;
        background-color: white;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }
    #ham{
        display: none;
    }

    .search-flex{
        grid-template-areas: search;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: bisque;
    }
    .search-flex label{
        font-size: xx-large;
    }
    #Søk{
        width:800px;
        height: 40px;
    }
   .search-flex h1{
        font-size: x-large;
        margin: auto;

   }
    .default-flex{
        grid-template-areas: main;
        display: grid;
        justify-content: space-between;
        text-align: center;
        
    }
    .default-flex img{
        width: 50%;
    }
    .default-flex section{
        width: 80%;
        align-self: center;
        padding: 1rem;
    }
    
    main section{
        grid-template-areas: main;
        grid-column: 1/-1;
        column-span: all; 
        grid-gap: 2rem;
        background-color: white;
    }
    .sweet-deal{
        grid-template-areas: main;
        display: flex;
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 4;
        justify-items: stretch;
        background-color: bisque;
    }
    .sweet-deal img{
        grid-template-areas: main;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .sweet-deal section{
        grid-template-areas: main;
        display: inline;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .sweet-deal h3{
        display: flex;
        flex-direction: row;
        font-size: large;
        width: 300px;
        height: fit-content;
    }
    .sweet-deal p{
        display: block ruby;
        flex-direction: row;
        font-size: large;
        width: 200px;
        height: fit-content;
    }
    .right-ips{
        font-size: large;
        display: flex;
    }
    .sweet-deal-produkt{
        display: flex;
        flex-direction: row;
        justify-items: inherit;
        width: 1500px;
    }
    .left-side{
        padding: 1rem;
        flex: 100%;
        margin-right: auto;
        margin-bottom: 16px;
    }
    .right-side{
        padding: 1rem;
        flex: 70%;
        margin-right: auto;
        margin-bottom: 16px;

    }
    .info-om-sko{
        display: flex;
        flex-direction: column;
        justify-items: right;
        text-align: left;
        background-color: #fff;
        padding: 1rem;
        flex: 50%;
        margin-bottom: 16px;
    }
    .sweet-deal-produkt img{
        width: 100%;
        height: fit-content;
    }
    .info-om-sko{
        order: 2;
    }
    #infor{
        text-align: center;
        list-style: none;
        display: flex;
        flex-direction: revert-layer;
    }
    
    .slag{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .nyheter{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .sjekk-dette{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #user-registration{
        display: grid;
        justify-items: center;
        grid-column-start: 2;
        grid-column-end: 3;
        inline-size: fit-content;

    }
    footer{
        grid-template-areas: footer;
        display: grid;
        grid-column: 1/-1;
        column-span: all;
    }
    #foots{
        display: flex;
        flex-direction: row;
    }
    #foots li{
        padding: 1rem;
        font-size: x-large;
        list-style: none;
    }

    #Logo{
        float: left;
    }
    header nav div{
        float: right;
        margin: 0;
    }

    header nav ul li{
        display: inline-block;
    }
    header nav{
        overflow: hidden;
    }
    .search-flex{
        display: inline-block;
    }
    main section{
        overflow: hidden;
        width: 100%;
       
    }

    main article{
        margin: 10px;
    }
}


/* grid - større ting kodelayout på nettsiden, flex- mindre, funker på innhold - bruk grid i main
grid- komplekse store layoyt eks. fb, artikler boxer? - flex
grid- clean utgangspunt - fjerne default css - bex som har rundt bodty eks. vi får mer kontroll på margin/padding - vi fpr rent utgangs punkt 
 planlegg struktur etter wireframes, hvor kompleks er det? - divitis(masse div-er, dvier rundt diver osv. - ikke lenger i bruk 
 felxbox -en dimantional
 grid - rutenett - todimantianalt, to akser, bestemmer mer på kollumner og rader,slipper å sloss med "float" - blir
 overskevert, funker ikke, 
 grid - cantainer, item, line, cell, track (column/row), area
 container - fin foreldre element og så display 
 grid; grid-tamplate-columns - hvor mange columner d\skal vi ha
 grid-template-rows - auto - høyde blir generete ut i fra innholdet - dynamiske forhold!
 grid-item. barne elementer av grid-container eks. grid.colum-start, grid-colum-end - obs float har inegn påvirkning 
 grid item, container - brukes grid-area */